{% assign trans = site.data.values[site.lan] %}

{% if site.data.tops.size > 0 %}

<!--置顶文章-->
<div class="sidebar well">
    <h1>{{ trans.top_posts }}</h1>
    <ul>
        {% for top in site.data.tops %}
        {% for post in site.posts %}
        {% if post.url contains top.url %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<!--标签
<div class="sidebar well">
    <h1> {{ trans.tags }} </h1>
        {% assign sortedtags = site.tags | sort %}
        {% for tag in sortedtags %}
        <li>{{ tag[0] | capitalize }}</li> 
        {% endfor %}
</div>-->
<!--分类-->
<div class="sidebar well">
        <h1> {{ trans.categories }} </h1>
            {% assign sortedtags = site.categories | sort %}
            {% for tag in sortedtags %}
            <li>{{ tag[0] | capitalize }}</li> 
            {% endfor %}
    </div>
<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>